@import 'abstracts/reset';
@import 'abstracts/colors';
@import 'abstracts/typography';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}